*{
    margin: 0;
    padding: 0;
}
body{
    background: #FFCC00;
    color: white;
}
header{
    display: flex;
    justify-content: center;
}
.logo, .Top_menu{
    margin-right: 50px;
    display:inline-block;
    vertical-align: middle;
}
.Top_menu li{
    margin-right:25px;
    display: inline-block;
    vertical-align: middle;
}
.Top_menu  a{
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.Top_menu  a:hover{
    color: blue
}
.logo h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    vertical-align: middle;
}
.searchForm{
    display: flex;
    position: center;
    justify-content: center;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 100px;
}
.btn{
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 30px;
    border-radius: 40px;
    margin-right: 150px;
    
}

.kodfun-galeri{
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.kodfun-galeri > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.kodfun-galeri > div:hover{
    flex: 5;
}

.reviews{
    color:black;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.feedback{
    color:black;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    margin: 20px;
    width: 210px;
    border-bottom: none;
    position: relative;
    top: 20px;
}

.review{
    border: 1px solid black;
    margin: 20px;
    
}

.footer {
    background-color: #FFCC00;
     position: relative;
     right: 0;
     bottom: 0;
     text-align: center; 
     width: 99%;   
     font-size: 19px;
    font-weight: bold;
    color: black; 
   
}